
<div class="data-row  field-country">
    <dt>
        <img class="country-flag" alt="Ghana" src="/bundles/easyadmin/images/flags/{{ entity.instance.country }}.png">
       {{ entity.instance.country}}
    </dt>
</div>
